# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Playwright (custom)
/test-results/
/blob-report/
/playwright-report/
/.playwright/.cache/
/.playwright/test-report/
/.playwright/test-results/

# GitGuardian
.cache_ggshield

# Editor config
.vscode/

# Dependencies
node_modules/
/.pnp
.pnp.*
jspm_packages/
bower_components/

# Yarn v2
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Next.js & Build Output
/.next/
/out/
/build/
/dist/

# Environment Variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Debug & Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
junit.xml
coverage/
*.lcov
.nyc_output/
.vscode-test/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache & Build Tools
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache
.grunt
web_modules/
build/Release

# Runtime & System Files
pids
*.pid
*.seed
*.pid.lock
.lock-wscript
.DS_Store
*.pem
.tern-port

# Serverless
.serverless/
.dynamodb/

# Documentation Tools
.docusaurus
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache
